body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header{
  padding-left: 10px
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.toolElement{
  display: block;
  padding-right: 15px;
}

.container {
  position: relative;
  flex: 1;
  padding: 50px; /* Adjusted padding */
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 75%;
  /* height: 100%; */
  background-size: cover;
  border: 2px solid #000;
}

.coordinateContainer {
  top: 50px;
  left: 20px;
  background-color: rgba(137, 206, 255, 0.8);
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center; /* Vertical center alignment */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0079d4;
  color: white;
}

footer img {
  margin-right: 10px; /* Adjust as needed */
  margin-left: 10px; /* Adjust as needed */
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100%;
}

.left {
  width: 65%;
  box-sizing: border-box;
}

.right {
  width: 35%;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}