@font-face {
  font-family: "Momentum";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "CiscoSansTT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CiscoSansTTRegular.woff2") format("woff2");
}

@font-face {
  font-family: "CiscoSansTT";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CiscoSansTTBold.woff2") format("woff2");
}
